@font-face {
  font-family: 'Uber Move Text';
  font-style: normal;
  font-weight: 400;
  src: url('./../src/fonts/ub.otf');
}
.brand {
  font-family: Uber Move Text;
}

.byline{
  font-family: 'Times New Roman', Times, serif
}
